## Variables

In [1]:
x = 5

In [2]:
x

5

In [3]:
y = 8

In [5]:
Y   # Python is case sensitive

NameError: name 'Y' is not defined

In [6]:
print(y)

8

In [8]:
x,y = (1,2)  # Parenthesis here are not needed

In [9]:
x

1

In [10]:
y

2

## Numbers  and Booleans

Different types of numbers in python integers and floats

In [12]:
x1 = 5   #x1 is an integer right?

In [14]:
type(x1)

int

In [15]:
type(-6)

int

In [16]:
x2 = 4.75

In [17]:
type(x2)

float

In [18]:
int(x2)

4

In [19]:
float(5)

5.0

In [21]:
# Not all variables assume numerical value
x3 = True

In [22]:
type(x3)

bool

In [24]:
x3 = true    # True or False should be written in capital letters

NameError: name 'true' is not defined

## Strings 

Text values composed of sequence of characters.

In [26]:
George  # python assumes it is a name of variable not defined yet

NameError: name 'George' is not defined

In [27]:
'George'

'George'

In [28]:
"George"     # output is same as above, with single quotations

'George'

In [29]:
print('George')      # Displays the output as plain text with no quotaions

George

In [30]:
print("George")

George

In [31]:
x4 = 'George'

In [32]:
x4

'George'

In [35]:
# Print the number along with currency
y = 10
print(y + 'Dollars')     # We did not follow rules of python, We can't put different types of variables in same expression

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
y = 10
print(str(y) + " Dollars")

10 Dollars

In [38]:
'I'm fine

SyntaxError: invalid syntax (3570783597.py, line 1)

In [39]:
"I'm fine"

"I'm fine"

In [40]:
'I\'m fine'

"I'm fine"

In [42]:
'Press "Enter"'  # Outer symbols must differ from the inner ones

'Press "Enter"'

In [44]:
# I want to print Red car on the same line
'Red' 'car'   # Two words written with a space between one another, outputs attached

'Redcar'

In [45]:
'Red ' 'car'

'Red car'

In [46]:
'Red ' + 'car'

'Red car'

In [47]:
print('Red '+'car')

Red car

In [49]:
print('Red','car')  # prints the words separating with a space

Red car

In [50]:
print(3,5)

3 5

In [51]:
3, 5, 6.9, 7.0, 'car'

(3, 5, 6.9, 7.0, 'car')

## Arithmetic Operators